html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

nav {
  background-color: #0A349Aff;
  padding: 0.5em 5em;
  display: flex;
  width: 100%;
  height: auto;
}

.nav-left {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  gap: 0.5rem;
}

.nav-left > img {
  width: 30px;
  height: 30px;
}

.nav-left > p {
  font-family: 'Parisienne', cursive;
  color: white;
  font-size: 1.25rem;
}

.nav-right {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
  
}

.nav-right > a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.button-1 {
  width: auto;
  color: white;
  background-color: transparent;
  padding: 0.5em 1.5em;
  outline: none;
  border: 1.4px solid white;
  border-radius: 25px;
  font-size: 0.9rem;
}

.button-2 {
  width: auto;
  color: white;
  background-color: #1154FDff;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
}

.hero {
  display: flex;
  flex-direction: row;
  padding: 1em 2em 0em 5em;
  background-color: #0A349Aff;
  width: 100%;
  height: auto;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-top: 2em;
  padding-bottom: 6em;
  gap: 1em;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.999%;
  position: relative;
}

.hero-right > img {
  width: 70%;
  margin-left: auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero-h1 {
  font-size: 2.8rem;
  color: white;
  width: 95%;
  margin: 0;
}

.hero-p1 {
  font-size: 0.875rem;
  color: whitesmoke;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.5em;
  background-color: #759BFCff;
  border-radius: 35px;
  color: white;
}

.search-container > img {
  width: 25px;
  margin-right: 15px;
}

.search-container > input {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  color: white;
  padding: 1.25em 0em;
}

.search-container > input::placeholder {
  color: white;
}

#search-button {
  background-color: #1154FDff;
  width: 250px;
  height: 100%;
  border-radius: 35px;
  padding: 0;
}

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 4em 5em;
  align-items: center;
}

.section-1-h2 {
  font-size: 2rem;
  margin: 0;
}

.section-1-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 4em;
}

.features-card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 300px;
  padding: 3em 2em 2em 2em;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 22px 5px rgba(211,218,227,0.76);
  -webkit-box-shadow: 0px 0px 22px 5px rgba(211,218,227,0.76);
  -moz-box-shadow: 0px 0px 22px 5px rgba(211,218,227,0.76);
  text-align: center;
  border-radius: 20px;
  position: relative;
  overflow: visible;
}

.features-card-h3 {
  color: #3B5BAFff;
  font-size: 1.3rem;
  margin: 0;
}

.features-card-p {
  font-weight: 400;
  color: rgb(69, 69, 69);
  font-size: 0.875rem;
}

.circle-container1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #F8872B;
  position: absolute;
  top: 0;
  z-index: 5;
}

.circle-container2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #1154FDff;
  position: absolute;
  top: 0;
  z-index: 5;
}

.circle-container3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #FF2A60ff;
  position: absolute;
  top: 0;
  z-index: 5;
}

.circle-container1 > img {
  width: 30px;
}

.circle-container2 > img {
  width: 30px;
}

.circle-container3 > img {
  width: 30px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  padding: 4em 4em;
  align-items: center;
  background-color: #FEF2E6ff;
}

.course-tags {
  display: flex;
  flex-direction: row;
  gap: 4em;
  align-items: center;
}

.course-tags > p {
  font-weight: 600;
}

#software-course {
  background-color: #E7EEFFff;
  color: #0A349Aff;
  padding: 1em 1.5em;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 600;
}

.courses-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 3em;
}

.courses-container-sub {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.course {
  width: 300px;
  height: auto;
  background-color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
}

.course > img {
  border-radius: 20px;
  height: 200px;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tutor-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5em;
  border-top: 1px solid rgb(168, 168, 168);
}

.tutor-left {
  display: flex;
  align-items: center;
}

.tutor-right {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.explore-button {
  margin-top: 50px;
  background-color: #fa7c15;
  outline: none;
  border: none;
  padding: 1em 1.5em;
  border-radius: 25px;
  color: white;
}

.section-3 {
  display: flex;
  flex-direction: row;
  padding: 6em 5em;
  align-items: center;
  width: 100%;
}

.section-3-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-3-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-3-right > img{
 width: 70%;
}

.download-button {
  margin-top: 20px;
  background-color: #3970FEff;
  width: 200px;
  outline: none;
  border: none;
  padding: 1em 1.5em;
  border-radius: 25px;
  color: white;
}

.section-4 {
  display: flex;
  flex-direction: column;
  padding: 1em 5em;
  width: 100%;
  margin-bottom: 7em;
}

.section-4-h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.section-2-p {
  font-size: 1rem;
  color: gray;
}

.section-3-p {
  font-size: 1rem;
  color: gray;
}

.section-4-p {
  font-size: 1rem;
  text-align: center;
  color: gray;
  margin-bottom: 50px;
}

.section-4-sub {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.section-4-sub-left {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 0.5em;
  padding: 0.5em;
  border-left: 8px solid #FF3D6Eff;
  border-radius: 5px;
  box-shadow: 0px 0px 22px 5px rgba(211,218,227,0.76);
  -webkit-box-shadow: 0px 0px 22px 5px rgba(211,218,227,0.76);
  -moz-box-shadow: 0px 0px 22px 5px rgba(211,218,227,0.76);
}

.section-4-sub-right {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.section-4-sub-right > img {
  width: 60%;
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 3em 5em 1em 5em;
  background-color: #001854ff;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

footer > h3 {
  color: #CED6EBff;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.email {
  padding: 1em 1.5em;
  border-radius: 30px;
  outline: none;
  border: 1px solid grey;
  color: white;
  width: 300px;
  background-color: transparent;
}

.subscribe {
  padding: 1em 1.5em;
  border-radius: 30px;
  outline: none;
  border: none;
  color: white;
  width: 175px;
  background-color: #3970FEff;
}

.email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.logo-container > img {
  width: 30px;
  height: 30px;
}

.logo-container > p {
  font-family: 'Parisienne', cursive;
  color: white;
  font-size: 1.25rem;
}

.description {
  color: rgb(159, 159, 159);
  padding: 1em 0.5em;
  border-left: 1px solid white;
  margin-left: 1em;
  font-size: 0.875rem;
}

.links {
  display: flex;
  margin-top: 2em;
}

.links a {
  color: #CED6EBff;
  text-decoration: none;
  padding: 0em 2em;
}

.copywrite {
  color: #CED6EBff;
}